.button {
  border: none;
  border-radius: 10px;
  background-color: var(--clr-black);
  font-size: var(--fs-16);
  color: var(--clr-white);
}

.button:focus , .button:active {
  box-shadow: none;
  background-color: var(--clr-black);
  color: var(--clr-white);
}

.button:hover {
  color: var(--clr-white);
  opacity: 0.8;
  background-color: var(--clr-black);
}
