.pageTitle {
  font-size: var(--fs-30) !important;
  font-weight: 600 !important;
}

.cancelbtn {
  background-color: var(--clr-red) !important;
  color: var(--clr-white) !important;
  border: none;
  border-radius: 10px;
}
.cancelbtn:focus,
.cancelbtn:active {
  background-color: var(--clr-red) !important
}
